@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  @apply bg-white;
}

.swiper-button-next:after,
.swiper-button-prev:after {
  @apply text-blue-700;
}
.swiper-slide {
  min-height: 100% !important;
  height: 100%;
}
.handle-truncate {
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}